/*************************** NAVBAR ***************************/
nav.navbar{
   -webkit-transition: all 0.4s ease;
   transition: all 0.4s ease;
}
nav.navbar.shrink {
  min-height: 50px;
}
nav.navbar.grow {
  max-height: 50px;
}
.navbarScroll {
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}