body {
    padding-top: 50px;
}
#headerWrap {
    position: relative;
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 100vh;
    background-image: URL(../images/header/header.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: top center;
    background-attachment: fixed;
}
#headerLogo {
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 200px;
    background-image: URL(../images/header/headerlogo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70% 200px;
    top: 50%;
    margin-top: -100px;
}
#header h2 {
	margin: 0px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #101010;
}
#fore-keyboard {
    position: absolute;
    width: 100%;
    height: 128px;
    background-image: URL(../images/header/keyboard-4-128.png);
    background-size: auto 128px;
    background-repeat: no-repeat;
    background-position: center bottom;
    bottom: 0px;
    right: 580px;
}
#fore-mouse {
    position: absolute;
    width: 100%;
    height: 128px;
    background-image: URL(../images/header/mouse-128.png);
    background-size: auto 128px;
    background-repeat: no-repeat;
    background-position: center bottom;
    bottom: 0px;
    right: 390px;
}
#fore-notebook {
    position: absolute;
    width: 100%;
    height: 128px;
    background-image: URL(../images/header/notebook-128.png);
    background-size: auto 128px;
    background-repeat: no-repeat;
    background-position: center bottom;
    bottom: 0px;
    right: 210px;
}
#fore-monitor {
    position: absolute;
    width: 100%;
    height: 128px;
    background-image: URL(../images/header/monitor-2-128.png);
    background-size: auto 128px;
    background-repeat: no-repeat;
    background-position: center bottom;
    bottom: 0px;
    right: 25px;
}
#fore-stack {
    position: absolute;
    width: 100%;
    height: 128px;
    background-image: URL(../images/header/stack-128.png);
    background-size: auto 128px;
    background-repeat: no-repeat;
    background-position: center bottom;
    bottom: 0px;
    left: 160px;
}
#fore-hdd {
    position: absolute;
    width: 100%;
    height: 128px;
    background-image: URL(../images/header/hdd-128.png);
    background-size: auto 128px;
    background-repeat: no-repeat;
    background-position: center bottom;
    bottom: 10px;
    left: 370px;
}
#fore-scanner {
    position: absolute;
    width: 100%;
    height: 128px;
    background-image: URL(../images/header/scanner-128.png);
    background-size: auto 128px;
    background-repeat: no-repeat;
    background-position: center bottom;
    bottom: 5px;
    left: 540px;
}
* {
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
}
#content {
    position: relative;
    padding: 0px;
    margin: 0px;
}
nav.navbar{
   -webkit-transition: all 0.4s ease;
   transition: all 0.4s ease;
}
nav.navbar.shrink {
  min-height: 50px;
}
nav.navbar.grow {
  max-height: 50px;
}
.navbarScroll {
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.footerScroll {
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.recentSearch {
    padding-right: 20px;
}
footer {
    color: white;
    background-color: #222;
}
a, a:visited {
    color: #9D9D9D;
    font-weight: bold;
}
a:hover {
    color: #FFF;
    text-decoration:none;
}